version: "3.8"

services:
  bnk-db:
    image: postgres:latest
    ports:
      - "15432:5432"
    env_file:
      - .env
    networks:
      - postgres-network
    volumes:
      - ${PWD}/bnk-data/:/var/lib/postgresql/data/
      - ${PWD}/init.sql:/docker-entrypoint-initdb.d/init.sql

  pgadmin:
    image: dpage/pgadmin4
    ports:
      - "15433:80"
    env_file:
      - .env
    depends_on:
      - bnk-db 
    networks:
      - postgres-network
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}

networks:
  postgres-network:
    driver: bridge

volumes:
  pgadmin-data:
